<% content_for :css do %>
<%= stylesheet_link_tag "jquery.jqplot.min.css",media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :js do %>
<%= javascript_include_tag "jquery.jqplot.min.js", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "jqplot.enhancedLegendRenderer.js", 'data-turbolinks-track' => true %>
<%= javascript_include_tag "graph.js", 'data-turbolinks-track' => true %>
<% end %>

<div id="jqPlot-sample" style="height: 600px;"></div>
