<% content_for :css do %>
<%= stylesheet_link_tag "result/index.css",media: 'all' %>
<% end %>


<div class="panel panel-default">
  <div class="panel-heading">結果一覧</div>
  <table class="result-table table table-bordered" width="100%">
    <thead>
      <tr>
	<% for num in 0..3%>
	<th width="25%"><%= 4 - num %>位</th>
	<% end %>
      </tr>
    </thead>
    <tbody>
      <% @hands.each do |hand| %>
      <tr>
	<% hand.scores.each do |score| %>
	<td width="25%">
	  <table class="user-table" width="100%">
	    <td width="40%">
	      <%= @users.find(score.user_id).name %>
	    </td>
	    <td width="60%">
	      <%= score.score %>
	    </td>
	  </table>
	</td>
	<% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
