<% content_for :js do %>
<%= javascript_include_tag "jquery.jqplot.min.js", 'data-turbolinks-track' => true %>
<%= javascript_include_tag "rank.js", 'data-turbolinks-track' => true %>
<% end %>

<%
d = Date.today
if d.month < 4
  year = d.year-1
else
  year = d.year
end
-%>
<%= select_year(Date.today,
                {:start_year => year,
                 :end_year =>  year - 2
                })
%>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading text-center">総得点</div>
      <table class="text-center table table-bordered" width="100%">
	<tr class="score-sum">
	  <td>
	    <div class="row">
	      <div class="col-md-8 score-name">
	      </div>
	      <div class="col-md-4 score-value">
	      </div>
	    </div>
	  </td>
	</tr>
      </table>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading text-center">平均得点</div>
      <table class="text-center table table-bordered" width="100%">
	<tr class="score-ave">
	  <td>
	    <div class="row">
	      <div class="col-md-8 score-name">
	      </div>
	      <div class="col-md-4 score-value">
	      </div>
	    </div>
	  </td>
	</tr>
      </table>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading text-center">平均順位</div>
      <table class="text-center table table-bordered" width="100%">
	<tr class="rank-ave">
	  <td>
	    <div class="row">
	      <div class="col-md-8 score-name">
	      </div>
	      <div class="col-md-4 score-value">
	      </div>
	    </div>
	  </td>
	</tr>
      </table>
    </div>
  </div>
</div>
