.navbar-origin {
        background: #eee;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        height: 60px;
}
.navbar-origin .navbar-brand {
        padding: 0 15px;
        line-height: 60px;
        height: 60px;
        font-size: 28px;
        font-weight: 100;
}
.navbar-origin .navbar-nav>li>a {
        padding-bottom: 0;
        line-height: 60px;
        font-weight: 200;
        color: #A5A5A5;
}
.navbar-origin .navbar-nav>li>a:hover{
        padding-top: 0;
        color: #E42121;
        border-bottom: 1px solid #E42121;
        line-height: 59px;
}
.navbar-origin .navbar-nav>.open>a,
.navbar-origin .navbar-nav>.open>a:hover,
.navbar-origin .navbar-nav>.open>a:focus {
        background: none;
        color: #E42121;
}
.navbar-origin .navbar-nav>li>.dropdown-menu {
        margin-top: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-top: 1px solid #E42121;
}
.navbar-origin .dropdown-menu {
        padding: 0;
}
.navbar-origin .dropdown-menu li a {
        padding: 15px;
        color: #777;
}
.navbar-origin .dropdown-menu li.divider {
        padding: 0;
        margin: 0;
}

body {
    padding-top: 90px;
    padding-bottom: 30px;
}
