<div class="panel panel-default">
  <div class="panel-heading"><%= @result_title %></div>
  <table class="table table-bordered" width="100%">
    <thead>
      <tr>
        <% for num in 0..3%>
          <th class="text-center" width="25%"><%= num + 1 %>位</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @hands.each do |hand| %>
        <tr class="score">
          <% hand.scores.reverse.each do |score| %>
            <td width="25%">
              <div class="row text-center">
                <div class="col-md-8 score-name">
                  <%= @users.find(score.user_id).name %>
                </div>
                <div class="col-md-4 score-value">
                  <%= score.score %>
                </div>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
