<nav class="navbar navbar-default navbar-origin navbar-fixed-top" role="navigation">
  <div class="container-fluid">

    <!-- スマートフォンサイズで表示されるメニューボタンとテキスト -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-menu-4">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- タイトルなどのテキスト -->
      <a class="navbar-brand" href="/">mms.jp</a>

    </div>

    <!-- グローバルナビの中身 -->
    <div class="collapse navbar-collapse" id="nav-menu-4">

      <!-- 各ナビゲーションメニュー -->
      <ul class="nav navbar-nav navbar-right">

        <!-- 通常のリンク -->
        <li><a href="/">Home</a></li>
        <% if admin_user != nil %>
          <li><a href="/input">Input</a></li>
          <li><a href="/new">New</a></li>
        <% else %>
          <li><a href="/admin">Login</a></li>
        <% end  %>
	<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Result<b class="caret"></b></a>
	  <ul class="dropdown-menu">
	    <li><a href="/result">All</a></li>
	    <li><a href="/result/rank">Rank</a></li>
	    <li><a href="/result/graph">Graph</a></li>
	  </ul>
	</li>

        <!-- ドロップダウンのメニューも配置可能 -->
        <li class="divider"></li>
        <li><a href="https://twitter.com/ji_no_papo?lang=ja"><i class="fa fa-twitter"></i> Twitter</a></li>

      </ul>

    </div>
  </div>
</nav>
